body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  outline: 0;
  cursor: pointer;
  color: #10ADE4;
  text-decoration: none;
}

.container {
  margin-bottom: 50px;
}

.strip-table {}

.strip-table>tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9
}

.tx-arrow-col {
  width: 20px;
}

.pagination {
  margin-top: 10px;
  color:#fff;
}